* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6563ff;

}
#question{
    font-weight: 900;
}
#result {
    font-size: 1.5em;
    font-weight: bold;
}
.quiz-container {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

.answer-btn {
    width: 80%;
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.answer-btn:hover {
    background-color: #27ae60;
}
.button-container{
    display: flex;
    justify-content: center;
    
    gap: 10px;
    margin-top: 20px;
}



.next-btn{
    background: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .next-btn:hover,
  .next-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #27ae60;
  }
  
  .next-btn:active {
    opacity: .5;
  }
.retake-btn{
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .retake-btn:hover,
  .retake-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .retake-btn:active {
    opacity: .5;
  }
.start-btn{
    background: #6563ff;
    border: 1px solid #6563ff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .start-btn:hover,
  .start-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #6563ff;
  }
  
  .start-btn:active {
    opacity: .5;
  }



.start-btn {
    margin-top: 20px;
}

